{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Home</h1>
    <div id="intro">
        <div id="goal">
            <h3>Our goal</h3>
            <p>Connect is an online support platform in which members may create a profile and share their experiences with other individuals going through similar troubles. Individuals may also view other’s posts and reply with their own ideas, engaging in meaningful discussion. Whether it be stories, experiences, or issues they face, Connect hopes to establish a welcoming and inclusive community in which people can share the burden and find support to spread positivity.</p>
            <img src="/static/hands.png" alt="You are not alone">
        </div>
        <div id="goal">
            <h3>Our reason</h3>
            <p>Seeing as the goal of this hackathon is to bring about change in the world of digital accessibility, we looked towards some issues many marginalized groups face on a daily basis. According to a variety of studies, there is an <a href="https://assets.ctfassets.net/qnesrjodfi80/4WUqhyzxkQK2eu2asoYwgW/daebd0b44042027fb15cac0053bd127e/starkes-the_top_5_issues_facing_black_amercians-transcript.pdf">increased number of single black mothers</a> as well as an elevated occurrence of <a href="https://academic.oup.com/innovateage/article/4/5/igaa048/6035206">loneliness and depression</a> in the same population, not to mention the racism that members of the black community face on a regular basis.

                Oftentimes, the feeling of loneliness stems from the feeling that no one else is going through what you are going through, and that there is no one to talk to about your problems. Speaking from our team members’ personal experiences entering university, one might often feel as if nobody else has problems with time management or keeping up with the course material. However, upon hearing others say that they feel a similar way, the feeling of loneliness dissipates as the understanding arises that we are all in this together.
                
                As a result of this, our team decided to attempt to combat these issues by providing a networking and support service aimed at improving the lived experience of the community (such as single black mothers), where people of all backgrounds are welcome to participate. 
                </p>
        </div>
    </div>
    
{% endblock %}